* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.grid-container {
    min-height: 1000px;
    display: grid;
    grid-template-columns: [col1-s] 150px [col2-s] 150px [col3-s] 150px [col4-s] 150px;  
    grid-template-rows: [row1-s] 150px [row2-s] 150px [row3-s] 150px [row4-s] 150px;
    grid-template: repeat(3, minmax(100px, auto)) / repeat(3, minmax(100px, 200px));
    /* grid-template-columns: repeat(3, minmax(150px, 300px));
    grid-template-rows: repeat(3, minmax(150px, auto)); */
    grid-auto-rows: repeat(3, minmax(100px, auto));
    grid-auto-flow: row;
    gap: 10px;
    grid-template-areas: 
    "header header header"
    "blog . message"
    "blog footer footer";
}


.grid-elem {
    background-color:  blue;
    border: 1px solid black;
    text-align: center;
    font-size: 18px;
    color: #fff;
    border-radius: 10px;
}


#header {
    grid-area: header;
}

#blog {
    grid-area: blog;
}

#message {
    grid-area: message;
}

#footer {
    grid-area: footer;
    display: grid;
    grid-template: repeat(3, 1fr) / repeat(3, 1fr);
    place-content: space-between space-between;
    place-items: center center;
    gap: 10px;
}

#first {
    grid-column: col1-s/col2-s;
    grid-row: row1-s/row3-s;
} 

#second {
    grid-column: col4-s;
    grid-row: row1-s/row4-s;
}

/* #third {
    grid-column: col2-s/col4-s;
    grid-row: row2-s/row3-s;;
} */

/* #fourth {
    grid-column: 1/4;
    grid-row: 3/4;
}

#fifth {
    grid-column: 2/3;
}

#sixth {
    grid-column: 3/4;
} */